<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HappyPathSuite" verbose="10">
    <test enabled="true" name="ShoppingList">
        <classes>
            <class name="org.noname.test.HappyPathTest"/>
        </classes>
    </test>
</suite>